/* Mix */
.page {
  font-size: 16px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
a:hover {
  text-decoration: none;
}
.wrapper-small {
  max-width: 60%;
  min-width: 500px;
  margin: 0px auto;
}
@media screen and (max-width: 992px) {
  .wrapper-small {
    min-width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper-small {
    min-width: 100%;
  }
}
.fas-links {
  vertical-align: middle;
  margin-left: 5px;
}
/* Button */
.btn-navbar {
  padding: 8px 10px;
  border: 1px solid #0069FF;
  border-radius: 5px;
  color: #0069FF;
}
.btn-navbar:hover {
  background-color: #0069FF;
  border-color: #0069FF;
  color: white;
  text-decoration: none;
}
.btn-account {
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #579aff;
  border: 1px solid #579aff;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.btn-google {
  position: relative;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.28);
  color: #626262;
  font-size: 1.15;
  font-weight: 600;
}
.btn-google__icon {
  position: absolute;
  max-width: 20px;
  left: 1%;
}
.btn-start {
  padding: 8px 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  color: ##0069FF;
  font-weight: 700;
}
/* Button */
/* /Mix */


/* Header */
/* Header top */
.header-top {
  height: 65px;
}
.header-top--fix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 65px;
  background-color: #fff;
}
/* Logo */
.logo__link {
  line-height: 65px;
}
.logo__img {
  max-height: 1.75em;
}
/* /Logo */
/* Navbar */
.navbar__item {
  line-height: 65px;
  font-size: 0.875em;
  font-weight: bold;
  color: #031B4F;
}
.navbar__link:hover {
  text-decoration: none;
  color:#0069FF;
}
/* /Navbar */
/* Hamburger */
.hamburger__btn {
  font-size: 1.5em;
  line-height: 65px;;
}
/* /Hamburger */
/* Jumbo */
.jumbo {
  margin-top:65px;
  padding: 120px 0;
  background-image: url(../img/bg-jumbotron.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.jumbo__title {
  font-size: 3.5em;
  font-weight: 700;
  color: #fff;
}
.jumbo__text {
  margin-bottom: 15px;
  font-size: 1.2em;
  font-weight: 400;
  color: #b9cbff;
}
/* Jumbo form */
.form--jumbo {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.form__title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
  color: #061e4f;
}
.form__title--blue {
  color: #0069FF;
}
.form__field {
  margin-bottom: 10px;
  padding: 20px;
}
/* /Jumbo form */
/* /Jumbo */
/* /Header */

/* Main */
/* Mix Main */
.main__section {
  min-height: 200px;
}
.main__section--grey {
  background-color: #f3f5f9;
}
.main__section--gradient {
  background: rgb(0,71,197);
  background: linear-gradient(180deg, rgba(0,71,197,1) 0%, rgba(0,30,153,1) 100%);
}
.main__section--p40 {
  padding: 40px 0;
}
.main__section--text-white {
  color: #fff;
}
.text-box {
  margin: 60px auto;
  text-align: center;
}
.text-box__title {
  font-size: 2em;
  font-weight: 700;
  color: #031c4e;
}
.text-box__title--white {
  color: #fff;
}
.text-box__p {
  font-size: 1.25em;
  color: #5c6a88;
}
/* Carousel */
.carousel {
  position: relative;
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  .carousel {
    padding: 10px;
  }
}
.carousel__arrow {
  position: absolute;
  transform: translateY(-50%);
  font-size: 50px;
  top: 50%;
}
.carousel__arrow--left {
  left: 0;
}
.carousel__arrow--right {
  right: 0;
}
.fas-carousel {
  width: 50px;
  height: 100px;
  position: absolute;
}
.carousel__img {
  max-height: 700px;
}
.carousel__photo {
  width: 100%;
}
.carousel-circle {
  margin: 20px 0;
}
.corousel-circle__img  {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #006aff;
  border-radius: 50%;
}
.corousel-circle__img--full {
  background-color: #006aff;
}
/* /Carousel */
/* /Mix Main */

/* Partner */
.partner-title {
  margin-bottom: 30px;
  font-weight: 400;
}
.partner-logo {
  margin-bottom: 20px;
  padding: auto 15px;
}
.partner-logo__img {
  min-width: 120px;
  max-width: 150px;
}
.partner-p {
  color: #006aff;
  font-weight: 700;
}
/* /Partner */

/* Configuration */
.configuration__list {
  list-style: none;
  border-left: 1px solid #75809a;
  padding:  15px;
}
.configuration__items {
  margin: 20px 0px;
  color: #75809a;
}
.main-box__item {
  margin-bottom: 40px;
}
.main-box__title {
  margin top: 25px;
}
.main-box__text {
  font-weight: 400;
}
/* /Configuration */

/* Developers */

/* /Developers */
/* Features */

/* /Features */

/* Customers */
.customers__list {
  font-size: 0.8em;
  margin-bottom: 30px;
}
.customers__items {
  padding: 10px;
  border-bottom: 1px solid white;
}
.customers__items--no-border {
  border-bottom: none;
}
.customers___cod {
  color: #f9fafd;
  font-weight: 700;
}
.customers__country {
  color: #aebbe0;
  font-weight: 400;
}
.customers__link {
  color: #00abc7;
  font-weight: 600;
  text-align: end;
}
/* /Customers */

/* Teams */
.rockerbox {
  width: 100%;
  background-color: #fff;
  padding: 40px 10px;
}
.rockerbox__img {
  display: inline-block;
  max-width: 200px;
  margin-bottom: 20px;
}
.rockerbox__quote {
  font-size: 1.5em;
  color: #5c6a88;
}
.rockerbox__cit {
  margin-bottom: 0px;
  font-weight: 700;
}
/* /Teams */

/* Start */

/* /Start */
/* /Main */

/* Footer */
.footer {
  padding: 40px 0;
  background-color: #031C4E;
  color: #a1a9b9;
}

/* Footer left */
.footer-left {
  padding-left: -15px;
}
.footer-left__logo {
  margin-bottom: 10px;
}
.social__list {
  text-decoration: none;
  padding-left: 0;
}
.social__item {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 15px;
  color: #a1a9b9;
}
.social__item:hover {
  color: #fff;
}
/* /Footer left */

/* Footer right */
.footer__right {
  margin-left: 30px;
}
.footer-right__title {
  color: #fff;
}
.footer-right__list {
  list-style: none;
  padding-left: 0;
}
.footer-right__items > a {
    color: #a1a9b9;
}
/* /Footer right */
/* /Footer */
