/* Mix */
.page {
  font-size: 16px;
  width: 100%;
}
.wrapper-small {
  width: 80%;
  margin: 0px auto;
}
/* /Mix */



/* Header */

/* Header top */
.header-top {
  height: 80px;
  background-color: blue;
}
/* Logo */
.logo
/* /Logo */
/* Navbar */
.navbar__item {
}
.navbar__link {
  line-height: 80px;
}
/* /Navbar */
/* Hamburger */
.hamburger {

}
.hamburger__btn {

}
.hamburger_icon {

}
/* /Hamburger */
/* Jumbo */
.jumbo {
  background-color: red;
}
.jumbo__title {

}
.jumbo__text {

}
/* /Jumbo */
/* /Header */


/* Main */
/* Mix Main */
.main__section {
  min-height: 200px;
  background-color: orange;
}
.main-section--green {
  background-color: green;
}
.text-box{
  text-align: center;
}
/* /Mix Main */

/* Partner */
.partner-logo {
  height: 50px;
  margin-bottom: 20px;
  background-color: black;
}
/* /Partner */
/* Configuration */
.configuration__list {
  text-decoration: none;
}
.configuration__items {

}
.configuration-box {

}
.configuration-box__item {
  background-color: white;
}
/* /Configuration */
/* Developers */
.carousel {
  height: 400px;
}
.carousel__img {
  height: 300px;
  background-color: red;
}
/* /Developers */
/* Features */

/* /Features */
/* Customers */

/* /Customers */
/* Teams */

/* /Teams */
/* Start */

/* /Start */
/* /Main */

/* Footer */
/* Footer left */
.social__list {
  text-decoration: none;
  padding-left: 0;
}
.social___item {
  display: inline-block;
}
/* /Footer left */
/* Footer right */
.footer-right__list {
  list-style: none;
  padding-left: 0;
}
/* /Footer right */

/* /Footer */
